<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://mop-shoot.tauri.hu/power.js"></script> -->
    <title>Tauri BMAH Viewer</title>
  </head>
  <body class="body-tag">
    <noscript>
      <strong>We're sorry but Tauri BMAH Viewer doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script> document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.message-header .delete') || []).forEach(($delete) => {
        var $notification = $delete.parentNode.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    }); </script>
  </body>
</html>
