<template>
  <div>
    <div v-if="!results && !err" class="spinner"></div>
    <div class="container is-tablet">
      <div class="columns is-mobile custom-header-column" v-if="results && !err">
        <div class="column is-half">Item Name</div>
        <div class="column has-text-centered is-one-quarter">ilvl</div>
        <div class="column has-text-centered is-one-quarter">Time Left</div>
      </div>
      <transition-group name="fade" v-if="results">
        <div
          class="columns is-mobile custom-body-column"
          v-for="(result,i) in sortResult"
          :key="`${i}-${result}`"
        >
          <div class="column is-half">
            <a
              :class="'has-text-left has-text-'+getRarityColor(result.itemData.rarity)"
              :href="'http://mop-shoot.tauri.hu?item=' + result.item"
            >{{result.itemData.itemName}}</a>
          </div>
          <div
            :class="{
          'column has-text-centered is-one-quarter': true,
          'underlined': result.itemData.itemLevel>560
        }"
          >{{result.itemData.itemLevel}}</div>
          <div class="column has-text-centered is-one-quarter">
            <p :class="'has-text-'+result.timeLeft">{{convertDuration(result.timeLeft)}}</p>
          </div>
        </div>
      </transition-group>
      <div
        v-if="err"
        class="has-text-danger has-text-centered is-size-4"
        id="error"
      >Tauri Api didn't respond :(</div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "BMAH",
  props: ["realm"],
  data: function() {
    return {
      results: null,
      err: false,
      debug: null
    };
  },
  computed: {
    sortResult: function() {
      function compare(a, b) {
        let timings = { SHORT: 1, MEDIUM: 2, LONG: 3, VERY_LONG: 4 };
        if (timings[a.timeLeft] > timings[b.timeLeft]) return 1;
        else return -1;
      }
      return this.results.sort(compare);
    }
  },
  methods: {
    convertDuration(duration) {
      let timings = {
        SHORT: "< 30m",
        MEDIUM: "< 2h",
        LONG: "< 12h",
        VERY_LONG: "< 24h"
      };
      return timings[duration];
    },
    getRarityColor(rarity) {
      switch (rarity) {
        case 4:
          return "epic";
          break;
        case 3:
          return "rare";
          break;
        case 1:
          return "common";
          break;
      }
    },
    async requestData(realm = "evermoon") {
      axios
        .get("https://bmah.snwflake.dev/" + realm)
        .then(response => {
          try {
            console.log(response.data.response.auctions);
            this.results = response.data.response.auctions;
          } catch (e) {
            console.error("shit's fucked", e);
            this.err = true;
          }
        });
    }
  },
  mounted: function() {
    this.requestData(this.realm);
  },
  watch: {
    realm: function() {
      this.results = null;
      this.err = false;
      this.requestData(this.realm);
    }
  }
};
</script>

<style lang="scss" scoped>
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

#error {
  margin-top: 40vh;
}

.container {
  padding-top: 1rem;
}

.column {
  padding: 0.5rem;
}

.custom-header-column {
  margin-left: 3%;
  margin-right: 3%;
  @media only screen and (min-width: 800px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media only screen and (min-width: 1023px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.underlined {
  text-decoration: underline;
}

.custom-body-column {
  border-bottom: 2px solid #e6e6e655;
  margin-left: 3%;
  margin-right: 3%;
  @media only screen and (min-width: 800px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media only screen and (min-width: 1023px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border-radius: 50%;
  border-top: 5px solid #41b883;
  border-right: 5px solid transparent;
  animation: spinner 0.6s linear infinite;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
