<template>
  <div id="footer" class="level is-mobile">
    <div class="level-item">
      Issues? DM me!
      <img class="discord" src="../assets/discord-logo.png" />
      <a class="link" href="https://discordapp.com/users/398097635086696449">snwflake</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Footer",
  data: function() {
    return {};
  }
};
</script>

<style scoped>
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #181818;
}

.discord {
  height: 20px;
  width: 20px;
  margin-left: 0.25rem;
}

.link {
  margin-left: 0.15rem;
  font-style: normal;
  color: #7289da;
}

</style>