<template>
  <div>
    <div class="container is-tablet">
      <nav class="level is-mobile">
        <div class="level-left">
          <button
            class="has-text-weight-semibold level-item button is-small is-rounded"
            :class="{'is-primary has-text-black' :activeRealm == 1}"
            v-bind="{activeRealm}-1"
            @click="activeRealm=1"
          >Evermoon</button>
          <button
            class="has-text-weight-semibold level-item button is-small is-rounded"
            :class="{'is-primary has-text-black' :activeRealm == 2}"
            v-bind="{activeRealm}-2"
            @click="activeRealm=2"
          >Tauri</button>
          <button
            class="has-text-weight-semibold level-item button is-small is-rounded"
            :class="{'is-primary has-text-black' :activeRealm == 3}"
            v-bind="{activeRealm}-3"
            @click="activeRealm=3"
          >WoD</button>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
const realmIds = {
  "1": "evermoon",
  "2": "tauri",
  "3": "wod"
};

export default {
  name: "Navbar",
  data: function() {
    return {
      realm: "evermoon",
      activeRealm: 1
    };
  },
  mounted() {
    if (localStorage.activeRealm) {
      this.activeRealm = localStorage.activeRealm;
    }
  },
  methods: {
    changeRealm(realmId) {
      this.$emit("broadcastRealm", realmIds[realmId]);
    }
  },
  watch: {
    activeRealm: function() {
      localStorage.activeRealm = this.activeRealm;
      this.changeRealm(this.activeRealm);
    }
  }
};
</script>

<style lang="scss" scoped>
.container {
  margin-top: 2rem;
}

.level {
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 10px;
  border-bottom: 4px solid #e6e6e655;
  @media only screen and (min-width: 800px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media only screen and (min-width: 1023px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}
</style>
