<template>
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <transition name="fade">
        <article class="message is-primary" id="taurio" v-show="visible">
          <div class="message-header">
            <p><a href="https://wa.stormforge.gg/">TaurIO</a></p>
            <button class="delete" aria-label="delete"></button>
          </div>
          <div class="message-body">
            <p>Check our partner site <a href="https://wa.stormforge.gg/">TaurIO</a> for all things WeakAuras and ElvUI!</p>
          </div>
        </article>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TaurIO",
  data: function() {
    return {
      visible: true
    }
  },
  created() {
    console.log(window.innerWidth)
    if (window.innerWidth <= 768) {
      setTimeout(() => this.visible = false, 8500)
    }
  }
};
</script>

<style lang="scss" scoped>

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to{
  opacity: 0;
}

#taurio {
  position: fixed;
  right: 20px;
  width: 420px;
  transition: opacity 1s;
  bottom: 30px;

  @media only screen and (max-width: 420px) {
    right: 2px;
    width: 355px
  }
}

</style>
