<template>
  <div id="app">
    <Navbar @broadcastRealm="changeRealm" />
    <BMAH :realm="realm" />
    <TaurIO />
    <Footer />
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import BMAH from "./components/BMAH.vue";
import TaurIO from "./components/TaurIO.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "app",
  data: function() {
    return {
      realm: "evermoon"
    };
  },
  components: {
    Navbar,
    BMAH,
    Footer,
    TaurIO
  },
  methods: {
    changeRealm(realm) {
      this.realm = realm;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
  flex: 1;
}
html {
  background-image: url('./assets/custom-bg.png');
}

.body-tag {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

</style>
