// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$grey-dark: #2a2a2a;
$body-background-color: #eee;
$grey-darker: #181818;
$text: #e6e6e6;
$primary: #41b883;
$primary-invert: findColorInvert($primary);
$epic: rgb(163, 53, 238);
$epic-invert: findColorInvert($epic);
$rare: rgb(0, 112, 221);
$rare-invert: findColorInvert($rare);
$common: rgb(255, 255, 255);
$common-invert: findColorInvert($common);
$SHORT: $red;
$MEDIUM: $orange;
$LONG: $yellow;
$VERY_LONG: $green;
// $link-hover: $primary;

// BUTTONS -----------------------------------
$button-background-color: $grey-dark;
$button-text-color: $text;
$button-color: $text;
$button-border-color: $text;
$control-border-width: 1px;
$button-active-color: $primary;
$button-active-border-color: $primary;
$button-focus-color: $primary;
$button-focus-border-color: $primary;
$button-selected-color: $primary;
$button-selected-border-color: $primary;
$button-hover-color: $primary;

@import "bulma/sass/utilities/derived-variables";
$addColors: (
  "epic": (
    $epic,
    $epic-invert
  ),
  "rare": (
    $rare,
    $rare-invert
  ),
  "common": (
    $common,
    $common-invert
  ),
  "SHORT": (
    $SHORT,
    $common
  ),
  "MEDIUM": (
    $MEDIUM,
    $common
  ),
  "LONG": (
    $LONG,
    $common
  ),
  "VERY_LONG": (
    $VERY_LONG,
    $common
  ),
  "grey-dark": (
    $grey-dark,
    $common
  ),
  "grey-darker": (
    $grey-darker,
    $common
  )
);
$colors: map-merge($colors, $addColors);

@import "bulma";
